.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.loggerContainer {
    flex: 1;
    height: 300px;
    width: 100%;
    overflow: auto;
    background-color: #2b2b2b;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.logger {
    word-break: break-all;
    overflow: visible;
}