.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logger {
    flex: 1;
    background-color: #2b2b2b;
    color: white;
    border-radius: 5px;
    overflow-y: scroll;
    word-break: break-all;
    padding: 5px 10px;
}